@import url("https://fonts.googleapis.com/css?family=Architects+Daughter|Ubuntu+Mono&display=swap");
body {
  background-color: gainsboro;
  margin: 0;
  padding: 0;
  font-size: 1.35em;
  color: black;
  font-family: "Architects Daughter", sans-serif; }

nav {
  background-color: steelblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  nav .logo {
    justify-self: flex-start;
    margin-top: 7px; }
  nav h1 {
    font-size: 1.85em; }
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end; }
    nav ul li {
      background-color: seagreen;
      margin-right: 15px;
      border-radius: 10px;
      box-shadow: black 5px 5px 5px; }
      nav ul li:hover {
        background-color: #c83200;
        box-shadow: black 2.5px 2.5px 2.5px;
        scale: .9;
        transition: .6s; }
    nav ul li a {
      font-family: "Ubuntu Mono";
      text-decoration: none;
      font-size: 1.75em; }

/*
    This is where the main content of each individual page would have to be specifically edited within their own partials!
*/
.main img {
  width: 100%;
  height: auto; }

.main h1 {
  text-align: center;
  font-size: 2.1em; }

.pick img, .gallery div img {
  border-radius: 50px;
  box-shadow: black 5px 5px 5px;
  width: 100%;
  height: auto; }
  .pick img:hover, .gallery div img:hover {
    box-shadow: black 2.5px 2.5px 2.5px;
    scale: 0.75;
    transition: .7s; }

@media (min-width: 1100px) {
  .pick img {
    width: 50%;
    margin-bottom: 25px; } }

@media (min-width: 1100px) {
  .pick {
    display: flex;
    flex-direction: row;
    justify-content: center; } }

@media (min-width: 1100px) {
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; } }

.choose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  .choose h1, .choose h2, .choose h3, .choose h4, .choose h5, .choose h6 {
    text-align: center; }
  @media (min-width: 1100px) {
    .choose {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; } }

h1 {
  color: black }

h2 {
  color: #c83200; }

h3 {
  color: steelblue; }

h4 {
  color: seagreen; }

h5 {
  color: orange; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b47846;
  height: 1.07em; }
  footer:hover {
    background-color: steelblue;
    transition: .65s; }
  footer p {
    font-size: .5em;
    text-align: center;
    font-family: "Ubuntu Mono"; }
    footer p:hover {
      color: gainsboro;
      transition: .65s;
      background-color: gainsboro;
      color: black; }
