/*
    This is where the main content of each individual page would have to be specifically edited within their own partials!
*/
.main {
    img {
        width: 100%;
        height: auto;
    }
    // A conditional statement could go here!

    h1{
        text-align: center;
        font-size: 2.1em;
    }
}
